.site-header {
   height: 50px;
   padding: 0 10px;
   background-color: white;
   text-align: right;

   .title {
      color: $color-primary;
      font-weight: normal;
      line-height: 50px;
   }

   .logo {
      vertical-align: middle;
   }
}
