<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/addAContactStyle.css">
</head>
<body>

<form class="add-form">
    <h1 class="form-head">додати контакт</h1>
    <div class="separator-white"></div>
    <div class="form-body clearfix">
        <div class="field">
            <label for="contactType" class="input-name">вид контакту</label>
            <select id="contactType" class="input select-box"></select>
        </div>
        <div class="field">
            <label for="contact" class="input-name">контакт</label>
            <input type="text" id="contact" class="input">
        </div>
        <div class="field">
            <label for="hours" class="input-name">години прийому</label>
            <input type="text" id="hours" class="input">
        </div>
        <div class="field">
            <label for="hide" class="input-name">видимість контакту</label>
            <div class="input"><input type="checkbox" id="hide" class="check-box"></div>
        </div>
    </div>
    <div class="separator-white"></div>
    <button class="_orange-back _white-color btn-reset _btn">додати</button>
</form>

</body>
</html>