<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/myProfile.css">
    <title></title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centered base-width">
            <div id="menuCarousel" class="carousel">
                <!--Items-->
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>

                <!--nav-->
                <a class="carousel-control left arrow left-arrow" href="#menuCarousel"></a>
                <a class="carousel-control right arrow right-arrow" href="#menuCarousel"></a>
            </div>
        </div>
    </div>
</div>

<script src="js/libs/jquery-1.11.3.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
</body>
</html>

<!--<div class="arrow left-arrow"></div>-->
<!--<div class="main-nav">-->
    <!--<div class="block-wrapper">-->
        <!--<div class="_orange-back block1">мій профіль <img src=""></div>-->
        <!--<div class="group-block">-->
            <!--<div class="_green-back block2">дошка оголошень</div>-->
            <!--<div class="_blue-back block3">спілкування</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="block-wrapper">-->
        <!--<div class="group-block clearfix">-->
            <!--<div class="block4 _blue-back"></div>-->
            <!--<div class="block5 _orange-back"></div>-->
        <!--</div>-->
        <!--<div class="block6 _blue-back"></div>-->
    <!--</div>-->
    <!--<div class="block-wrapper">-->
        <!--<div class="block7 _green-back"></div>-->
        <!--<div class="block8 _green-back"></div>-->
    <!--</div>-->
    <!--<div class="block-wrapper">-->
        <!--<div class="block9 _orange-back"></div>-->
    <!--</div>-->
    <!--<div class="block-wrapper">-->
        <!--<div class="block10 _blue-back"></div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="arrow right-arrow"></div>-->